<div>
  <ul class="horizontal-menu">
    <li> Item 1
      <ul ngui-menu="bottom">
        <li> Menu Item 1-1 </li>
        <li> Menu Item 1-2 </li>
        <li> Menu Item 1-3 </li>
      </ul>
    </li>
    
    <li> Item 2
      <ul ngui-menu="bottom">
        <li> Menu Item 2-1 </li>
        <li> Item 2-2 
          <ul ngui-menu="right">
            <li> Menu Item 2-2-1 </li> 
            <li> Menu Item 2-2-2 </li>
            <li> Menu Item 2-2-3 </li>
          </ul>
        </li>
        <li> Menu Item 2-3 </li>
      </ul>
    </li>
    <li>Menu Item 3</li>
  </ul>
</div>